$color-bg1: black;
$accent-color: #bdae82;
$primary-color: #22254b;
$secondary-color: #373b69;

:root {
  color-scheme: light dark;
  --accent-color: $accent-color;
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --color-bg-panel: rgba(128, 128, 128, 0.3);
  --color-bg-modal: #000;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  width: 100%;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #eee;
  background-color: $color-bg1;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(./assets/bg03.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

#root {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-height: 100dvh;
}

header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
}

main {
  @include flex-center();
  width: 100%;
  flex-grow: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}

h1,
h2,
h3,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

// Cards
.rorsch__card {
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s linear;

  &.flipped {
    pointer-events: none;

    .rorsch__back {
      transform: rotateY(180deg);
    }

    .rorsch__face[data-mirror='1'] {
      transform: scaleX(-1);
    }
    .rorsch__face[data-mirror='-1'] {
      transform: scaleX(1);
    }
  }

  &.match {
    opacity: 0;
    pointer-events: none;
  }

  &.glow {
    box-shadow: 0 0 0.5rem white;
  }

  .rorsch__back,
  .rorsch__face {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ddd;
    background-size: cover;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    transition: transform 0.3s;
  }

  .rorsch__back {
    z-index: 1;
    // background-image: url(./assets/r00.png);
    background-position: center;
  }

  .rorsch__face[data-mirror='1'] {
    transform: scaleX(1);
  }
  .rorsch__face[data-mirror='-1'] {
    transform: scaleX(-1);
  }
}
